body {
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
}

h1{
    font-size: 4.236em;
}
 
h2{
    font-size: 2.618em;
}
 
h3{
    font-size: 1em;
    line-height: 1.618em;
    text-transform: uppercase;
}

h4{
	font-size: 1.3em;
}
 
p{
    font-size: 1em;
    line-height: 1.618em;
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
 
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.clickable {
	cursor: pointer;
}