body {
	text-align: center;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 4.236em;
    font-family: 'Roboto Slab', serif;
}
 
h2{
    font-size: 2.618em;
}
 
h3{
    font-size: 1em;
    line-height: 1.618em;
    text-transform: uppercase;
}

h4{
	font-size: 1.3em;
}
 
p{
    font-size: 1em;
    line-height: 1.618em;
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 13px;
    }
 
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

html, body {
    height: 100%;
}

html, body {
    background: -moz-linear-gradient(left,  rgba(203,251,237,1) 0%, rgba(223,253,240,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(203,251,237,1) 0%,rgba(223,253,240,0) 100%);
    background: linear-gradient(to right,  rgba(203,251,237,1) 0%,rgba(223,253,240,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbfbed', endColorstr='#00dffdf0',GradientType=1 );
}

a:hover {
    text-decoration: none;
}

.clickable {
	cursor: pointer;
}

